<!doctype html>
<html lang="en" ng-app="dcApp">
<head>
    <meta charset="utf-8">
    <title>Duty cycle</title>
    <script src="angular.min.js"></script>
    <script src="lodash.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="DutyCycleController">
<div>
    <input type="text" ng-model="window_length"/> (min: {{ min_flicker_length * 3}})
</div>
<div>
    <input type="text" ng-model="duty_cycle_percentage"/>
</div>

<div>
    Frame: {{ frame }}
</div>

<ul>
    <li ng-repeat="output in relays track by $index">
        <span>L{{ $index + 1}}</span>
        <span> : </span>
        <span ng-if="output > 0">ON</span>
    </li>
</ul>

<ul>
    <li>1: <span ng-if="relays[0] && relays[1]">ON</span></li>
    <li>2: <span ng-if="relays[1] && relays[2]">ON</span></li>
    <li>3: <span ng-if="relays[2] && relays[1]">ON</span></li>
</ul>

</body>
</html>